model_config_list {
  config {
    name: 'half_plus_two'
    base_path: '/models/half_plus_two/'
      model_platform: "tensorflow"
  },
  config {
    name: 'resnet'
    base_path: '/models/resnet/'
      model_platform: "tensorflow"
  },
  config {
    name: 'anpr'
    base_path: '/models/anpr/'
      model_platform: "tensorflow"
  }
}