model_config_list {
  config {
    name: 'half_plus_two'
    base_path: 's3://cnr-knative-tfserving-models/models/half_plus_two/'
      model_platform: "tensorflow"
  },
  config {
    name: 'resnet'
    base_path: 's3://cnr-knative-tfserving-models/models/resnet/'
      model_platform: "tensorflow"
  },
  config {
    name: 'anpr'
    base_path: 's3://cnr-knative-tfserving-models/models/anpr/'
      model_platform: "tensorflow"
  }
}